/*dymic navbar created by Drupal*/
/*
.main-navigation{
}

#block-viku-main-menu{
	margin: auto;
}

#block-viku-main-menu li{
	float: left;
	position: relative;
	list-style-type: none;
}
*/

/*
#block-viku-main-menu ul li >a{
	text-decoration: none;
}

#block-viku-main-menu >ul >li >a:hover{
	text-decoration: underline;
}

#block-viku-main-menu ul ul{
	display:none;
	postion: absolute;
	width: 200px;
	height:40px;
	background-color: white;
	border-style: solid;
    border-color: #B7CCD2;
	border-width: 0.5px;
}

#block-viku-main-menu >ul :first-child >a{
	color: #C60048;
	font-weight: bold;
}

#block-viku-main-menu >ul :nth-child(2) >a{
	color: #c700ba;
	font-weight: bold;
}

#block-viku-main-menu >ul :nth-child(3) >a{
	color: #2E89FD;
	font-weight: bold;
}

#block-viku-main-menu >ul :nth-child(4) >a{
	color: #F0BC15;
	font-weight: bold;
}

.contextual+ ul li:nth-child(2) > a{
	color: #c700ba;
	font-weight: bold;
}
*/

/* static navbar */
@media (min-width: 768px){
.main-navigation {
	margin-left: 60px;
	list-style: none;
	float : left;
	max-height: 105px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 20px;
}
/*Override navbar-inverse bootstrap class*/
.main-navigation >nav{
		background-color: white;
		border-color: white;
}
#virtuaalikunta-logo-fi{
    float: left;
    background: url('../images/logo.PNG');
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 55px;
    height: 30px;
    width: 270px;
}

.main-navigation ul{margin-top:60px; float:left;}

.main-navigation li {
  display: block;
  position: relative;
  float: left;
}
.main-navigation li ul { background-color:white;display: none;z-index:1; }

.main-navigation ul li a {
  margin-top: 5px;
  display: block;
  padding: 1em;
  padding-top: 1px;
  padding-bottom: 1px;
  text-decoration: none;
  white-space: nowrap;
  font-style: Helvetica;
}

.main-navigation ul li ul{
  margin-top: 0px;
}
#myNavbar{
	width:1200px;
}
#myNavbar ul li ul li{width: 100%;}
#myNavbar ul li ul li:hover { background: #D9D9D9;}

.main-navigation ul li ul a{color:black !important;}
/* underline styling of nav categories*/
#myNavbar>ul >li >a:hover{
	text-decoration: underline;
}

/* Display the dropdown */

.main-navigation li:hover > ul {
  display: block;
  position: absolute;
  border-style: solid;
  border-color: #B7CCD2;
  border-width: 0.5px;
}
/*
#nav1, #nav2, #nav3, #nav4, #nav2-s, #nav3-s, #nav4-s{
	list-style-type: none;
}*/
#nav1 a{
	color: #C60048;
	font-weight: bold;
}
#nav2 a{
	color: #c700ba;
	font-weight: bold;
}
#nav3 a{
	color: #2E2EFC;
	font-weight: bold;
}
#nav4 a{
	color: #F0BC15;
	font-weight: bold;
}

/* second nav style*/
.nav2-s-i{
	float:left;
	height: 10px;
	width: 12px;
	background-color: #c700ba;
	position: absolute;
	margin-top: 10px;
	margin-left: -12px;
}

/* third nav style*/
.nav3-s-i{
	float:left;
	height: 10px;
	width: 12px;
	background-color: #2E2EFC;
	position: absolute;
	margin-top: 10px;
	margin-left: -12px;
}

/* fourth nav style*/
.nav4-s-i{
	float:left;
	height: 10px;
	width: 12px;
	background-color: #F0BC15;
	position: absolute;
	margin-top: 10px;
	margin-left: -12px;
}
}

.main-header{
	height: 105px;
	/*width: 940px;*/
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}
