.layout-content-m{
	background-image:url('../images/frontpage_bg.png');
	background-repeat: no-repeat;
	width: 1356px;
	height: 1183px;
	/*background-size: 1356px 1183px;*/
	margin: auto;
	padding-top:400px;
}

.main-header{
	height: 50px;
}

.my-content{	
	margin-left:200px;
}

.logo{
	img{		
		max-width:100%;		
	}	
}

#firt-part{
	background-color:white;
	width: 459px;
	height: 235.59px;
	padding: 2px 0 0 10px;
	border-style: solid;
    border-width: 5px 0 0 0;
	border-color: #2e2efc;
}

#firt-part p{
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #2e2efc;
	font-size: 12pt;	
	font-weight: bold;
}

#first-part-img{
	margin: 60px 0 0 0;
}

.imgfont_a{
	float:left;
	margin:6px;
	padding-top: 8px;
}

.imgfont_g{
	margin:6px;
}

#second-part{
	margin: 32px 0 14px 0;
}

#third-part{
	width: 459px;
	height: 243.59px;
	border-style: solid;
    border-width: 5px 0 0 0;
	border-color: #c700ba;
}

#third-part p{
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #2e2efc;
	font-size: 12pt;	
	font-weight: bold;
}

.third-part-c{
	padding: 10px 0 0 14px;
}

.imgfont_f1{
	margin:6px;
}

.imgfont_f2{
	float:left;
	margin:6px;
}

#fourth-part{
	float:left;
}

/* header CSS */

.main-navigation{
	/*background-color:red;*/		
}

#block-viku-main-menu{
	margin: auto;
}

#block-viku-main-menu ul li >a{
	text-decoration: none;
}

#block-viku-main-menu >ul >li >a:hover{
	text-decoration: underline;
}

#block-viku-main-menu ul ul{
	postion: absolute;
	width: 200px;
	/*background-color: red;*/
}	

#block-viku-main-menu li{
	/*display: inline;*/
	float: left;
	position: relative;
	list-style-type: none;
}
