.fptest{
	top: 0;
	margin-top: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	background: url('../images/frontpage_bg.png') no-repeat, #80CEF9;
}

#fpcontent1 {
	margin-top: 55px;
	margin-bottom: 3%;
	background-color: white;
	position: relative;
	left: 20%;
	width: 30%;
	height: auto;
	font-size: 18px;
}

#fpcontent2 {
	margin-top: 5%;
	margin-bottom: 3%;
	background-color: white;
	position: relative;
	left: 20%;
	width: 30%;
	height: auto;
	font-size: 18px;
}

#fpcontent3 {
	margin-top: 5%;
	margin-bottom: 3%;
	background-color: white;
	position: relative;
	left: 20%;
	width: 30%;
	height: auto;
	font-size: 18px;
}

.opettajallepage{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
	background: url('../images/opettajat_bg.png') no-repeat, #80CEF9;
}

a{
	color: white;
}

#opettajalllelinks{
	position: relative;
	top: 1px;
	left: 20%;
	width: 50%;
	height: auto;
	background-color: #840bd1;
	color: white;
	text-align: center;
}

#thisfooter{
	width: auto;
	position: relative;
	top: 10%;
	bottom: 10px;
}

#contenttext{
	margin-top: 10px;
	margin-bottom: 3%;
	background-color: white;
	position: relative;
	top: 5px;
	left: 20%;
	width: 50%;
	height: auto;
	font-size: 18px;
}