<footer>
	<div id="footer-bg">
		<section id="footer-bg-white">
			<section class="footer-left-links">
				<h4 id="opeheader">Opettajille<h4>
				<span id="opelinkit">
					<ul>
						<li>
							<a href=#>Mikä on virtuaalikunta</a>
						</li>
						<li>
							<a href=#>Tutustu Lykkylä-peliin</a>
						</li>
					</ul>
				</span>
			</section>
			<section class="footer-middle-links">
				<h4 id="tietoheader">Tietoa ja tehtäviä<h4>
				<span id="tietolinkit">
					<ul>
						<li>
							<a href=#>Mikä on kunta?</a>
						</li>
						<li>
							<a href=#>Kuntalaisen ABC</a>
						</li>
						<li>
							<a href=#>Kunnan talous</a>
						</li>
						<li>
							<a href=#>Kuntaliitokset</a>
						</li>
						<li>
							<a href=#>Kuntien tehtävät ja yhteistoiminta</a>
						</li>
					</ul>
				</span>
			</section>
			<section class="footer-right-links">
				<h4 id="peliheader">Pelit<h4>
				<span id="pelilinkit">
					<ul>
						<li>
							<a href=#>Tutustu peleihin!</a>
						</li>
						<li>
							<a href=#>Lykkylä</a>
						</li>
						<li>
							<a href=#>Kunnat kartalle</a>
						</li>
					</ul>
				</span>
			</section>
		</section>

		<section id="footer-gray-band">
			<div class="footer-gray-band-centered-area">
				<span class="green-square">
					<img src="http://www.virtuaalikunta.net/_layouts/images/Virtuaalikunta.WebTemplates/green_square.png" alt="">
					<a href="#"> Yhteystiedot</a></span>
				<span class="magenta-square">
					<img src="http://www.virtuaalikunta.net/_layouts/images/Virtuaalikunta.WebTemplates/magenta_square.png" alt="">
					<a href="#"> Anna palautetta</a>
				</span>
				<span class="fb-square">
					<a href="http://www.facebook.com/sharer.php?u=http%3a%2f%2fwww.virtuaalikunta.net%2ffi%2fSivut%2fdefault.aspx&amp;t=Virtuellakommunen.net">
					<img src="http://www.virtuaalikunta.net/_layouts/images/Virtuaalikunta.WebTemplates/fbook.png" alt=""> Suosittele</a>
				</span>
				<span class="blue-square">
					<img src="http://www.virtuaalikunta.net/_layouts/images/Virtuaalikunta.WebTemplates/lblue.png" alt="">
					<a href="http://www.kunnat.net" target="_blank">Kunnat.net</a>
				</span>
				<span class="blue-square">
					<img src="http://www.virtuaalikunta.net/_layouts/images/Virtuaalikunta.WebTemplates/lblue.png" alt="">
					<a href="http://www.kommunerna.net" target="_blank">Kommunerna.net</a>
				</span>
			</div>
		</section>

		<section id="footer-copyright">
			<span class="copyright-text">&copy; Suomen Kuntaliitto</span>
		</section>
	</div>
</footer>
