<div id="footer-bg">
	<footer>
		<section id="footer-bg-white">
			<section class="footer-left-links">
				<h4 id="opeheader">Opettajille<h4>
				<span id="opelinkit">
					<ul>
						<li>
<<<<<<< HEAD
							<a href=#>Mik‰ on virtuaalikunta</a>
						</li>
						<li>
							<a href=#>Tutustu Lykkyl‰-peliin</a>
=======
							<a href=#>Mik√§ on virtuaalikunta</a>
						</li>
						<li>
							<a href=#>Tutustu Lykkyl√§-peliin</a>
>>>>>>> a196d2ef72fbe0b542dee2d386daa9479757e2c6
						</li>
					</ul>
				</span>
			</section>
			<section class="footer-middle-links">
<<<<<<< HEAD
				<h4 id="tietoheader">Tietoa ja teht‰vi‰<h4>
				<span id="tietolinkit">
					<ul>
						<li>
							<a href=#>Mik‰ on kunta?</a>
=======
				<h4 id="tietoheader">Tietoa ja teht√§vi√§<h4>
				<span id="tietolinkit">
					<ul>
						<li>
							<a href=#>Mik√§ on kunta?</a>
>>>>>>> a196d2ef72fbe0b542dee2d386daa9479757e2c6
						</li>
						<li>
							<a href=#>Kuntalaisen ABC</a>
						</li>
						<li>
							<a href=#>Kunnan talous</a>
						</li>
						<li>
							<a href=#>Kuntaliitokset</a>
						</li>
						<li>
<<<<<<< HEAD
							<a href=#>Kuntien teht‰v‰t ja yhteistoiminta</a>
=======
							<a href=#>Kuntien teht√§v√§t ja yhteistoiminta</a>
>>>>>>> a196d2ef72fbe0b542dee2d386daa9479757e2c6
						</li>
					</ul>
				</span>
			</section>
			<section class="footer-right-links">
				<h4 id="peliheader">Pelit<h4>
				<span id="pelilinkit">
					<ul>
						<li>
							<a href=#>Tutustu peleihin!</a>
						</li>
						<li>
<<<<<<< HEAD
							<a href=#>Lykkyl‰</a>
=======
							<a href=#>Lykkyl√§</a>
>>>>>>> a196d2ef72fbe0b542dee2d386daa9479757e2c6
						</li>
						<li>
							<a href=#>Kunnat kartalle</a>
						</li>
					</ul>
				</span>
			</section>
		</section>
		
		<section id="footer-gray-band">
			<span class="green-square">Yhteystiedot</span>
			<span class="magenta-square">Anna palautetta</span>
			<span class="fb-square">Suosittele</span>
			<span class="blue-square">Kunnat.net</span>
			<span class="blue-square">Kommunerna.net</span>
		</section>
		
		<section id="footer-copyright">
<<<<<<< HEAD
			<span class="copyright-text">© Suomen Kuntaliitto</span>
=======
			<span class="copyright-text">¬© Suomen Kuntaliitto</span>
>>>>>>> a196d2ef72fbe0b542dee2d386daa9479757e2c6
		</section>
	</footer>
</div>