<header class="main-header" role="banner">
	<div class = "grid-container">
		{{ page.header }}
		<div class="main-navigation">
			{{page.main_navigation}}
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div id="language-links">
						<span class="current-language">suomeksi</span>
						<a href="/sv">pä svenska</a>
					</div>
					<div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
							<span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<div id="virtuaalikunta-logo-fi" class="grid-3"></div>
						<ul class="nav navbar-nav">
							<li id="nav1"><a href="/drupal1">ETUSIVU</a></li>
							<li id="nav2"><a href="/drupal1/opettajalle">OPETTAJALLE</a>
								<ul id="nav2-s">
									<li><div class="nav2-s-i"></div><a href="http://192.168.1.197/node/13">Mikä on Virtuaalikunta.net?</a></li>
									<li><div class="nav2-s-i"></div><a href="http://192.168.1.197/node/12">Tutustu Lykkylä-peliin</a></li>
								</ul>
							</li>
							<li id="nav3"><a href="/drupal1/tietoa1">TIETO JA TEHTÄVÄ</a>
								<ul id="nav3-s">
									<li><div class="nav3-s-i"></div><a href="/drupal1/tietoa1">Tietoa ja tehtäviä</a></li>
									<li><div class="nav3-s-i"></div><a href="/drupal1/mikaonkunta">Mikä on kunta?</a></li>
									<li><div class="nav3-s-i"></div><a href="http://192.168.1.197/node/17">Kuntalaisen ABC</a></li>
									<li><div class="nav3-s-i"></div><a href="http://192.168.1.197/node/18">Kunnan talous</a></li>
									<li><div class="nav3-s-i"></div><a href="http://192.168.1.197/node/19">Kuntien tehtävät</a></li>
									<li><div class="nav3-s-i"></div><a href="http://192.168.1.197/node/20">Kuntaliitokset</a></li>
								</ul>
							</li>
							<li id="nav4"><a href="/drupal1/pelit">PELIT</a>
								<ul id="nav4-s">
									<li><div class="nav4-s-i"></div><a href="/">Tutustu peleihin!</a></li>
									<li><div class="nav4-s-i"></div><a href="/">Lykkylä</a></li>
									<li><div class="nav4-s-i"></div><a href="/">Kunnat kartalle</a></li>
									<li><div class="nav4-s-i"></div><a href="/">Tietovisa</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

</header>
