<header class="main-header" role="banner">
	<div class = "container">
		{{ page.header }}
		<div class="main-navigation">
			{{page.main_navigation}}
			<div id="virtuaalikunta-logo-fi"></div>
			<ul>
				<li id="nav1"><a href="/">ETUSIVU</a></li>
				<li id="nav2"><a href="/">OPETTAJALLE</a>
					<ul id="nav2-s">
						<li><a href="http://192.168.1.197/node/13">Mikä on Virtuaalikunta.net?</a></li>
						<li><a href="http://192.168.1.197/node/12">Tutustu Lykkylä-peliin</a></li>
					</ul>
				</li>
				<li id="nav3"><a href="/">TIETOA JA TEHTÄVIÄ</a>
					<ul id="nav3-s">
						<li><a href="http://192.168.1.197/node/14">Tietoa ja tehtäviä</a></li>
						<li><a href="http://192.168.1.197/node/16">Mikä on kunta?</a></li>
						<li><a href="http://192.168.1.197/node/17">Kuntalaisen ABC</a></li>
						<li><a href="http://192.168.1.197/node/18">Kunnan talous</a></li>
						<li><a href="http://192.168.1.197/node/19">Kuntien tehtävät</a></li>
						<li><a href="http://192.168.1.197/node/20">Kuntaliitokset</a></li>
					</ul>
				</li>
				<li id="nav4"><a href="/">PELIT</a>
					<ul id="nav4-s">
						<li><a href="/">Tutustu peleihin!</a></li>
						<li><a href="/">Lykkylä</a></li>
						<li><a href="/">Kunnat kartalle</a></li>
						<li><a href="/">Tietovisa</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

</header>
